/*
*{
  outline: 1px red solid !important;
}
*/

:root {
  --active-color: rgb(33, 148, 243);
  --main-text-color: rgb(33, 33, 33);
  --pale-text-color: rgb(117, 117, 117);
  --white-text: rgb(255, 255, 255);
  --address-link-color: rgba(255, 255, 255, 0.6);
  --background-color: rgb(47, 48, 58);
  --light-background-color: rgb(245, 244, 250);
  --border-color-header: rgb(236, 236, 236);
  --border-color-portfolio: rgb(238, 238, 238);
}

p, h1, h2, h3, a, ul, li, figure, body, img{
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.container{
  max-width: 1200px;
  padding: 0px 15px 0px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

button {
  color: var(--white-text);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--active-color);
}

header{
  border-bottom: 1px solid var(--border-color-header);
}

header .container{
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

header .logo-link{
  padding: 24px 0px;
}

.logo-link span {
  color: var(--active-color);
}

header a {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

header ul{
  display: flex;
}

.nav-list{
  margin-left: 93px;
}

.nav-list ul{
  gap: 50px;
}

.header-contacts{
  gap: 40px;
  margin-left: auto;
}

.main-page h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  width: 700px;
  color: var(--white-text);
  margin-bottom: 30px;
}

.main-page h2 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
}

.main-page button {
  padding: 10px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--active-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header-contacts {
  color: var(--pale-text-color);
}

.title-section {
  background-color: var(--background-color);
  margin-bottom: 94px;
  padding: 200px 0px 200px;
}

.title-section .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.info-section{
  margin-bottom: 94px;
}

.info-section ul{
  display: flex;
  justify-content:center;
  gap: 30px;
}

.info-section li{
  flex: 1;
}


.info-section h2{
  display: none;
}

.info-section h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info-section p {
  line-height: 1.71;
  color: var(--pale-text-color);
}

.pictures_section{
  text-align: center;
  margin-bottom: 94px;
}

.pictures_section ul{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.employees-section {
  background-color: var(--light-background-color);
  text-align: center;
  padding: 94px 0px 94px;
}

.employees-section ul{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.employees-section figure{
  background-color: var(--white-text);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employees-section figcaption{
  padding: 30px 0px 30px;
}

.employees-section h3 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.employees-section p {
  font-size: 16px;
  color: var(--pale-text-color);
}

footer {
  background-color: var(--background-color);
  color: var(--white-text);
}

footer{
  padding: 60px 0px 60px;
}

address {
  line-height: 1.14;
  letter-spacing: 0.033em;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

address a {
  color: var(--address-link-color);
  margin-top: 12px;
}

.portfolio section{
  margin: 94px 0px 94px;
}

.portfolio .container{
  padding: 0px 11px 0px;
}

.portfolio button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--light-background-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.buttons_portfolio{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.buttons_portfolio button:hover{
  color: var(--white-text);
  background-color: var(--active-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.figures-portfolio{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.figures-portfolio figcaption{
  padding: 20px 24px 20px;
}

.portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.figures-portfolio p {
  font-size: 16px;
  line-height: 1.88;
  color: var(--pale-text-color);
}

.portfolio figure{
  /*box-shadow: 0px 0px 1px var(--border-color-portfolio) inset;*/
  border: 1px solid var(--border-color-portfolio);
}

/*

/*
.header-block{
  border: 1px;
  border-style: solid;
  height: 80px;
  display: flex;
  align-items: center;
}

.logo-link{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.header-block a{
  color: black;
}

.nav-list a{
  font-weight: 500;
  font-size: 14px;  
}


.header-contacts a{
  font-weight: 500;
  font-size: 14px;
}








.button-section{
  height: 600px;
  background-color: rgb(47, 48, 58);
  font-weight: 900px;
  font-size: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-section button{
  width: 200px;
  height: 50px;
  font-weight: 700px;
  font-size: 16px;
  color: black;
  background-color: rgb(33, 148, 243);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.info-section{
  width: 1600px;
}

.info-section ul{
  display: flex;

}



ul{
  list-style: none;
}


*/
