/*
*{
  outline: 1px red solid !important;
}
*/

body{
  max-width: 1600px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

header a{
  font-weight: 500;
  font-size: 14px;
}

.logo-link{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.info-section h3{
  font-weight: 700;
  font-size: 14px;
}

.info-section p{
  font-weight: 400;
  font-size: 14px;
}

.employees-section p{
  font-weight: 400;
  font-size: 16px;
}

.employees-section h3{
  font-weight: 500;
  font-size: 16px;
}

address{
  font-weight: 400;
  font-size: 14px;
}

address a{
  opacity: 60%;
}

.portfolio-main h2{
  font-weight: 700;
  font-size: 18px;
}

.portfolio-main p{
  font-weight: 400;
  font-size: 16px;
}

h2{
  font-weight: 700;
  font-size: 36px;
}

a{
  color: inherit;
}

a:hover{
  color: rgb(33, 148, 243);
}



/*
.header-block{
  border: 1px;
  border-style: solid;
  height: 80px;
  display: flex;
  align-items: center;
}

.logo-link{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.header-block a{
  color: black;
}

.nav-list a{
  font-weight: 500;
  font-size: 14px;  
}


.header-contacts a{
  font-weight: 500;
  font-size: 14px;
}



.header-block ul{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}


h1{
  width: 800px;
  text-align: center;
}



.button-section{
  height: 600px;
  background-color: rgb(47, 48, 58);
  font-weight: 900px;
  font-size: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-section button{
  width: 200px;
  height: 50px;
  font-weight: 700px;
  font-size: 16px;
  color: black;
  background-color: rgb(33, 148, 243);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.info-section{
  width: 1600px;
}

.info-section ul{
  display: flex;

}

.info-section h2{
  display: none;
}

ul{
  list-style: none;
}


*/




