.agree-checkbox{
    line-height: 1.71;
    user-select: none;
    position: relative;
    color: $pale-color;

    &_input[type="checkbox"]{
        display: none;
        max-width: 16px;
        max-height: 16px;
    }

    &_svg-span{
        position: relative;
        display: inline-block;
        width: 16px;
        height: 15px;
        margin-right: 8px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            display: block; 
        }

        &::before {
            background-image: url('../../images/icons.svg#unchecked-icon'); 
        }

        &::after {
            background-image: url('../../images/icons.svg#checked-icon'); 
            display: none; 
        }
    }

    &_input:checked + &_svg-span {
        &::before {
            display: none;
        }

        &::after {
            display: block;
            background-color: $active-color;
        }
    }

    &_link{
        color: $active-color;
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    /*

    &_checked-icon, &_unchecked-icon{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 15px;
        max-height: 16px;
    }

    &_checked-icon{
        display: none;
    }

    &_unchecked-icon{
        display: block;
    }

    &_input[type="checkbox"]:checked + &_checked-icon{
        display: block;
        background-color: $active-color;
        border-radius: 2px;
    }
    &_input[type="checkbox"]:checked + &_unchecked-icon{
        display: none;
    }
        */
}  