.header{
    border-bottom: 1px solid $header-border-color;
    .container{
        display: flex;
        align-items: center;
    }
    a{
        font-weight: 500;
        letter-spacing: 0.02em;
    }


    &_logo{
        padding: 25px 0;
    }

    &_nav{
        margin-left: auto;
        margin-right: auto;
        display: none;
    }

    &_nav-item:not(:last-child){
        margin-right: 30px;
    }

    &_nav-link{
        &--on-page{
        position: relative;
            &::after{
                height: 4px;
                width: 100%;
                background-color: $active-color;
                border-radius: 2px;
                content: '';
                display: flex;
                position: absolute;
                left: 0;
                bottom: -32px;
            }
        }
    }

    &_contacts-list{
        display: none;
    }

    &_burger-button{
        margin-left: auto;
    }

    &_burger-svg{
        max-height: 40px;
        max-width: 40px;
    }

    @media screen and (min-width:650px) {
        &_nav{
            display: block;
        }
        &_nav-list{
            display: flex;
        }
        &_contacts-list{
            display: flex;
        }

        &_burger-button{
            display: none;
        }
    }

    @media screen and (min-width:768px) {
        &_nav{
            margin-left: auto;
            margin-right: auto;
        }
    }  
  }
  
    