
.contacts-list{
    flex-direction: column;
    gap: 10px;

    &_item{
        display: flex;
        align-items: center;
        color: $pale-color;
    }

    &_link{
        display: flex;
        padding: 0;
    }

    &_svg{
        margin-right: 10px;
        height: 16px;
        width: 16px;
        position: relative;
        bottom: 1px;
    }

    @media screen and (min-width:900px) {
        flex-direction: row;
        gap: 20px;
    }
}