
.contacts-list{
    gap: 40px;
    margin-left: auto;

    &_item{
        display: flex;
        align-items: center;
    }

    &_svg{
        margin-right: 10px;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        max-height: 16px;
        max-width: 16px;
    }
}