.portfolio-section{
    margin-top: 94px;
    margin-bottom: 94px;

    &_navigation{
        margin-bottom: 50px;
    }

    &_nav-list{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: left;

    }

    &_nav-button{
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        color: inherit;
        background-color: $light-background-color;
        border: none;
        border-radius: 4px;
        padding: 6px 22px;
        cursor: pointer;

        &:hover, &:focus{
            color: $white;
            background-color: $active-color;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08);
        }
    }

    &_list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    &_item{
        width: 100%;
        max-width: 450px;
        flex: 1;

        flex-basis: auto;
    }

    @media screen and (min-width:768px) {
        &_nav-list{
            justify-content: center;
        }

        &_item{
            flex-basis: 48%;
        }
    }

    @media screen and (min-width:1200px) {
        &_item{
            flex-basis: 30%;
        }
    }
}