$active-color: #2196f3;
$active-darkened-color: #188ce8;
$white: #ffffff;
$black: #000000;
$pale-color: #757575;
$button-shadow: rgba($black, 0.15);
$background-color: #2f303a;
$background-filter40-color: rgba($background-color, 0.4);
$background-filter80-color: rgba($background-color, 0.8);
$light-background-color: #f5f4fa;
$pale-icon-color: #afb1b8;