$active-color: #2196f3;
$active-overlay-color: rgba($active-color, 0.9);
$active-darkened-color: #188ce8;
$white: #ffffff;
$opaque60-white: rgba($white, 0.6);
$opaque10-white: rgba($white, 0.1);
$white-opaque30-color: rgba($white, 0.3);
$black: #000000;
$light-black-color: #212121;
$modal-background: rgba($light-black-color, 0.2);
$modal-border-color: rgba($light-black-color, 0.3);
$pale-color: #757575;
$button-shadow: rgba($black, 0.15);
$background-color: #2f303a;
$background-filter40-color: rgba($background-color, 0.4);
$background-filter80-color: rgba($background-color, 0.8);
$light-background-color: #f5f4fa;
$pale-icon-color: #afb1b8;
$figure-border-color: #eeeeee;