$active-color: #2196f3;
$active-darkened-color: #188ce8;
$white: #ffffff;
$black: #000000;
$button-shadow: rgba($black, 0.15);
$background-color: #2f303a;
$background-filter-color: rgba($background-color, 0.4);