.clients-section{
    padding-top: 60px;
    padding-bottom: 60px;

    &_title{
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
    }

    &_list{
        display: flex;
        gap: 30px;

        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &_item{
        flex-basis: 40%;
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    &_link{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 16px 0;
        border-width: 1px;
        border-radius: 5px; 

        color: $pale-icon-color;
        border-color: $pale-icon-color;
        background-color: $white;
        border-style: solid;

        &:hover{
            border-color: $active-color;
        }
    }

    &_svg{
        max-width: 106px;
        max-height: 60px;
    }
    

    @media screen and (min-width:768px) {
        &_item{
            flex-basis: 30%;
        }
    }
    @media screen and (min-width:1200px) {
        &_list{
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
}