.employees-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $light-background-color;

    &_title{
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
    }

    &_list{
        display: flex;
        flex-direction: column;
        gap: 30px;


    }

    &_item{
        width: 100%;
        max-width: 450px;
        margin-inline: auto;
    }

    &_figure{
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14);

    }

    &_image{
        width: 100%;
        height: auto;
    }

    &_figcaption{
        padding: 30px;
    }

    &_figure-title{
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &_figure-text{
        font-size: 16px;
        color: $pale-color;
    }

    &_links-list{
        margin-top: 16px;
    }

    @media screen and (min-width:480px) {
        
    }

    @media screen and (min-width:768px) {
        &_list{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        &_item{
            flex-basis: 48%;
            text-align: left;
        }
    }

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        &_list{
            flex-wrap: nowrap;
            flex-direction: row;
        }
        &_title{
            font-size: 36px;
        }
    }
}