.info-section{
    padding-top: 60px;
    padding-bottom: 60px;

    &_title{
        display: none;
    }

    &_list{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &_item{
        flex-grow: 1;
        text-align: center;
    }

    &_svg-container{
        margin-bottom: 30px;
        padding: 25px 0;
        background-color: $light-background-color;
        display: flex;
        justify-content: center;
    }

    &_svg{
        width: 70px;
        height: 70px;
    }

    &_item-title{
        font-weight: 700;
        text-transform: uppercase;

        margin-bottom: 10px;
    }

    &_text{
        line-height: 1.71;
        color: $pale-color;
    }

    @media screen and (min-width:768px) {
        &_list{
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
        &_item{
            flex-basis: 40%;

            text-align: left;
        }
    }

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;

        &_list{
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        &_item{
            max-width: 270px;
        }
    }
}